@use './partials/variables' as *;

$fa-font-path: "../fonts/webfonts" !default;

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

@import '~bootstrap/scss/bootstrap';

ul{
    list-style: none;
}

.ah-jumbotron{
    height: 20rem;
    background-image: url('../img/jumbotron.jpg');
    background-size: cover;

    img{
        height: 100%;
        width: 100%;

    }
}

.ah-card{
    height: 15rem;
    width: 12rem;
    margin: 0 auto;

    img{
        height: 100%;
        width: 100%;
    }
}

.ah-current{
    margin-top: -15px;
}
